{% extends "templates/index.html" %}
{% block content %}

<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            View all alignments
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                            </li>                         
                            <li class="active">
                                <i class="fa fa-table"></i> Alignments
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
          	<div class="table-responsive">
            	<table class="table table-bordered table-hover">
                	<thead>
                    	<tr>
                        	<th>Alignment Name</th>
                        	<th>Reference name</th>
                        	<th>From file</th>
                        	<th># Result sequences</th>
                    	</tr>
                	</thead>
                	<tbody>
                
                {% for alignment in alignments %}
                
                                
    					<tr>
                            <td><a href="/alignment/view/{{alignment.id}}/">{{alignment.alignment_name}}</a></td>
                            <td>{{alignment.reference_name}}</td>
                            <td>{{alignment.results_filename}}</td>
                            <td>{{alignment.number_results}}</td>
                        </tr>
                {% endfor %}
                                </tbody>
                            </table>
				</div>
                
                
{% endblock %}